@import './markdown.css';
@import 'highlight.js/styles/github.css';
@import './base.css';

:root {
  --background-color: #00233d;
  --input-background-color: #00233d95;
}

.layout {
  display: flex;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #fff
}
pre code.hljs {
  padding: 0;
}

button, select {
  border-radius: 5px;
  outline: 1px solid #ccc;
  padding: 7px;
  /* background: var(--input-background-color); */
  background: #fff;
  border: none;
  color: #000;
}
button:hover, select:hover, option:hover {
  cursor: pointer;
}
select {
  border-radius: 5px;
  padding: 7px 0 7px 10px;
}
  select:focus option:checked {
    color: #fff !important;
  }

.sidebar {
  flex: 1;
  /* background: rgb(0, 13, 85); */
  background: #3c0101;
  /* background: rgb(0, 35, 61); */
  max-height: 100vh;
  color: #fff;
  padding: 20px 10px;
  overflow-y: scroll;

  .sidebar-section {
    padding: 10px 0;
    transform: translateY(-2px);
    margin-bottom: 10px;
  }

  .sidebar-action {
    padding-left: 40px !important;
    .icon {
      position: absolute;
      left: 10px;
      top: 16px;
    }
  }

  .sidebar-title {
    font-weight: 600;
    font-size: 14px;
    position: relative;
    margin-bottom: 5px;
    padding: 3px 5px;
  }
  .sidebar-item, .sidebar-title {  
    border-radius: 3px;
  }
  
  .sidebar-item a div, .sidebar-action {
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sidebar-item.selected,
  .sidebar-item:hover {
    background: #730000;
    /* background: rgba(60, 1, 1, 0.613); */
    cursor: pointer;
  }

}
