@import './markdown.css';
@import 'highlight.js/styles/github.css';
@import './base.css';

.layout {
  display: flex;
  height: 100vh;
}

pre code.hljs {
  padding: 0;
}

.sidebar {
    flex: 1;
    background: rgb(16, 0, 99);
    max-height: 100vh;
    color: #fff;
    padding: 20px 10px;
    overflow-y: scroll;

  .sidebar-section {
    padding: 10px 0;
    transform: translateY(-2px);
    margin-bottom: 10px;
  }

  .sidebar-action {
    padding-left: 40px !important;
    .icon {
      position: absolute;
      left: 10px;
      top: 16px;
    }
  }

  .sidebar-title {
    font-weight: 600;
    font-size: 14px;
    position: relative;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  .sidebar-title {
    margin-bottom: 5px;
  }
  .sidebar-item, .sidebar-title {
    padding: 3px 10px;
    border-radius: 3px;
  }
  .sidebar-item {
    /* margin-bottom: 3px; */
    /* width:100px; */
  }

  li:hover, li.selected,
  .sidebar-item:hover {
    background: #2200cb;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #fff
  }
}
